# this is an example .env file, please use something better for passwords etc.
POSTGRES_HOST=postgres
POSTGRES_DB=sentry
POSTGRES_USER=sentry
POSTGRES_PASSWORD=sentry_password

REDIS_HOST=redis

SENTRY_VERSION=8.8.0
SENTRY_PORT=9000
SENTRY_WORKERS=4
